/*-------------------------------------------------------------------------

   Plugin Name: Easy Pricing Table
   Description: Description: Easy Pricing Table plugin allow you to create Beautiful Pricing table or Comparison Table with smooth hover effects in just a few minutes. You can Embedd in any post/page using shortcode <code>[easy-pricing-table table_name="Pricing Table Name"]</code> or you can add through widgets.
   Version: 1.0.0
   Plugin URI: http://jwthemes.com/easy-pricing-table/
   Author: JW THemes
   Author URI: http://www.jwthemes.com
   License: Under GPL2

--------------------------------------------------------------------------*/

.pricing_table_wrap{background:#34495e; padding:50px 0;}

.pricing_table_wrap h1,
.pricing_table_wrap p{text-align:center; color:#bcc5cd; font-weight:300;}
.pricing_table_wrap p{font-size:20px; margin:20px 0;}
.pricing_table,
.pricing_table:hover,
.pricing_table li,
.pricing_table li:hover{transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s; -o-transition:all 0.3s}

.pricing_table:hover{margin-top:-15px;}
.pricing_table h3{background:#283b4d; font-size:28px; color:#bcc5cd; font-weight:300; padding:10px 0; text-align:center; border-radius:4px 4px 0 0}
.pricing_table ul{padding:0; list-style:none; text-align:center; margin-top:-10px; background:#fff; border-radius:0 0 3px 3px;}
.pricing_table li{border-bottom:1px solid #eeeeee; padding:8px 0; font-size:20px; font-weight:300; color:#556472;}
.pricing_table li:hover{background:#f5f5f5;}
.pricing_table li:first-child{height:170px; margin-bottom:5px; padding:30px 0;}
.pricing_table li:last-child{border:0; border-radius:0 0 3px 3px;}

.pricing_table li:last-child a{display:block; margin-top:-8px; margin-bottom:-8px; padding:8px 0; color:#fff;}
.pricing_table li:last-child a:hover{color:#fff !important; background:#FF6C60; border-radius:0 0 3px 3px;}
.pricing_table li span.rounded{border:4px solid #fff; border-radius:50%; height:110px; width:110px; display:block; margin:0 auto; font-size:36px; line-height:36px; color:#fff; padding-top:25px;}
.pricing_table li span.rounded span{display:block; font-size:18px; line-height:18px; font-weight:300;}

.jw_easy_pricing_tbl_col{width:23%; margin-left:1.6%; float:left;}



@media (min-width:600px) and (max-width:980px){	
	.jw_easy_pricing_tbl_col{width:47.5%; margin-left:1.6%;}
	div.jw_easy_pricing_tbl_col:nth-of-type(3){clear:both}
}

@media (max-width:600px){		
	.jw_easy_pricing_tbl_col{width:96%; margin-left:2%;}
}